h1 {
    font-family: 'Faster One', cursive;
    color: black;
    font-size: 112px;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
  }

body {
    text-align: center;
    margin-top: 5px;
    background-color: royalblue;
}

p {
    margin-top: 15px;
    margin-bottom: 3px;
    font-family: 'Bangers', cursive;
}

#buttons-view {
    align-items: center;
}

.superhero {
    float: left;
    width: 33.3%;
    height: auto;
    text-align: center;
}

.superhero-btn {
    margin: 10px;
    padding: 5px;
    background-color: lightgreen;
    font-family: 'Luckiest Guy', cursive;
    border-radius: 4px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    transition: box-shadow 1s; transform: 2s;
}

.superhero-btn:hover {
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
    transform: translate(2px, 2px);
    cursor: pointer;
    transition: box-shadow 1s; transform: 2s;
}

#superhero-form {
    /* float: right; */
    display: inline-block;
    top: 0px;
    right: 0px;
    margin-top: 5px;
    margin-right: 5px;
}

#superhero-input {
    font-family: Arial, Helvetica, sans-serif;
}

#add-superhero {
    margin-top: 5px;
    font-family: 'Luckiest Guy', cursive;
    background-color: red;
    border-radius: 4px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    transition: box-shadow 1s; transform: 2s;
}

#add-superhero:hover {
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
    transform: translate(2px, 2px);
    cursor: pointer;
    transition: box-shadow 1s; transform: 2s;
}

@media screen and (max-width: 1100px) {
    body {
      background-color: lightblue;
    }
  }

  @media screen and (max-width: 768px) {
    body {
      background-color: lightskyblue;
    }
  }